<form>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field is-narrow">
                <p class="control">
                    <input type="number" class="input input-montant" placeholder="Montant">
                </p>
            </div>

            <div class="field">
                <p class="control">
                    <input type="text" class="input input-descripton" placeholder="Description">
                </p>
            </div>

            <div class="field is-narrow">
                <button class="button is-primary" >
                    Ajouter
                </button>
            </div>

        </div>
    </div>
</form>