<section class="budget-items-section">
    <div class="budget-items-container">
        <div class="depot-column">
            <h1>dépot</h1>
            <app-budget-item-card class="budget-item-card-margin"></app-budget-item-card>
            <app-budget-item-card class="budget-item-card-margin"></app-budget-item-card>
            <app-budget-item-card class="budget-item-card-margin"></app-budget-item-card>
            <app-budget-item-card class="budget-item-card-margin"></app-budget-item-card>
            <app-budget-item-card class="budget-item-card-margin"></app-budget-item-card>
        </div>
        <div class="depense-column">
            <h1>dépense </h1>
            <app-budget-item-card class="budget-item-card-margin"></app-budget-item-card>
            <app-budget-item-card class="budget-item-card-margin"></app-budget-item-card>
            <app-budget-item-card class="budget-item-card-margin"></app-budget-item-card>
            <app-budget-item-card class="budget-item-card-margin"></app-budget-item-card>
            <app-budget-item-card class="budget-item-card-margin"></app-budget-item-card>
            <app-budget-item-card class="budget-item-card-margin"></app-budget-item-card>
            <app-budget-item-card class="budget-item-card-margin"></app-budget-item-card>
            <app-budget-item-card class="budget-item-card-margin"></app-budget-item-card>
            <app-budget-item-card class="budget-item-card-margin"></app-budget-item-card>
            <app-budget-item-card class="budget-item-card-margin"></app-budget-item-card>   
        </div>
    </div>
</section>