<div class="root" *ngIf="budget">

    <div class="numero-budget" [ngClass]="{'depot': budget.montant>0, 'depense': budget.montant<0}">{{indice}} </div>
    <div class="budget-item" [ngClass]="{'depot': budget.montant>0, 'depense': budget.montant<0}" 
        (click)="onCardClick()"
        title="Cliquer pour éditer l'item"
        >
        <div class="description">
            <p>{{budget.description }}</p>
        </div>
        <div class="montant">
            <p><span *ngIf="budget.montant>0">+</span>{{budget.montant}}€</p>
        </div>
    </div>

    <div class="close-icon-button" (click)="supprimeCard(budget)" title="Supprimer cet élement"></div>
</div>