<div class="top-bar">
  <h1>Budget Calculator</h1>
  <div>
    <ul>
      <li>
        <span class="material-icons">
          account_box
          </span>
      </li>
      <li>
        <span class="material-icons">
          settings
        </span>
      </li>
    </ul>
  </div>
  
</div>

<section class="total-budget-section">
  <h2 [ngClass]="{'green':total>0, 'red':total<0}" >{{total}}€</h2>

  <div class="all-clear" (click)="allClear()" title="Remise à Zéro de la calculatrice">AC</div>
</section>

<section class="add-item-section">
  <div class="add-item-container">
    <app-add-item-form 
        class="add-form"
        (budgetOutput)="recupereBudgetAdd($event)">
    </app-add-item-form>
  </div>
</section>
<section *ngIf="listeBudgetForm.length > 0">
    <hr class="hr-add-form">
    <app-budget-item-list [listeBudgetInput]="listeBudgetForm"
                          [colonneBudgetInput]="totalColonne"
                          (listeBudgetMAJ)="recupereListeAJour($event)"
    ></app-budget-item-list>
</section>
