@import "../../main-styles.scss";

.top-bar {
    
    width: 100%; 
    height: 68px;
    background: linear-gradient(75deg, rgb(214, 180, 247), rgb(173, 203, 231));

    display: grid;
    grid-template-columns: 300px 1fr;

    h1 {

        display: flex;
        //Pour centrer le texte : 
        justify-content: center; // horizontalement 
        align-items: center;     // verticalement   
        flex-direction: end;

        font-family: 'Lato';
        font-size: 18px;
        letter-spacing: 4px;
        font-weight: 900;
        text-transform: uppercase; 
        color: $dark;
    }

    :nth-child(1) {

    }

    :nth-child(2) {
        display: flex;
        justify-content: flex-end;

        margin-right: 1%;

        ul {
            display: flex;

            justify-content: center; // horizontalement 
            align-items: center;     // verticalement  
        }

        li {
            display: flex;

            //Pour centrer le texte : 
            justify-content: center; // horizontalement 
            align-items: center;     // verticalement   
            
            padding: 2px 5px;
            
            color: white;

            span {
                    font-size: 32px;
                    transition: all .2s ease-in-out;
                    cursor: pointer;

                    &:hover {
                    transform: scale(1.2);
                }
            }
            
        }
        

    }
}



.total-budget-section {
    display: flex;
    position: relative;
    height: 250px; 
    //background: $dark;
    background: linear-gradient(21deg, $dark, purple);

    justify-content: center;
    align-items: center;

    

    h2 {
        font-family: 'Lato';
        font-weight: 300;
        font-size: 58px;
        color: white;

        &.green {
            color: lighten($green, 24%);
        }

        &.red {
            color: lighten($color: $red, $amount: 21%)
        }
    }


    .all-clear {
        position: absolute;
        bottom: 30px;
        right: 30px;

        padding: 5px;

        font-family: 'Lato';
        font-weight: 300;
        font-size: 58px;
        color: white;
        font-size: x-large;
        background-color: orange;
        border-radius: 3px;
        border: orange 2px solid; 

        cursor: pointer; 
        transform: scale(1);
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-out;
    }

    .all-clear:hover {
        opacity: 1;
        transform: scale(1.15);
        font-weight: bolder;
    }

    
}


.add-item-section {

    display: flex;

    //Pour centrer le texte : 
    justify-content: center; // horizontalement 
    align-items: center;     // verticalement   

    .add-item-container {
        width: 60%; //680px; 
        // Pour tester :    
        //background: purple;
        //height: 45px;

    }

}

.add-form {
    padding: 20px;
}

.hr-add-form {
    margin-top: 0; 
    width: 90%; 
    margin: auto;
    background-color: #ab0eb9;
}